= simple_nested_form_for @question do |f|
  = f.hidden_field :owner_id, value: current_user.id
  = f.input :title
  = f.input :body
  = f.simple_fields_for :attachments, @attachments do |a|
    = a.input :file, as: :file
    = a.link_to_remove 'Remove this attachment'
  = f.link_to_add 'Add new attachment field', :attachments
  = f.button :submit
