%h2= @question.title
%p= @question.body
%ul
  %h3= 'Question Fiels:'

  - @question.attachments.each do |attachment|
    - if attachment.file.present?
      %li= attachment.file.file.filename

  .answers
    %h3= 'Answers:'
    = render 'answers/index'

  %br
  .new_answer
    = simple_nested_form_for(Answer.new, remote: true, multiple: true) do |f|
      = f.hidden_field :owner_id, value: current_user.id
      = f.hidden_field :question_id, value: @question.id
      = f.input :body, input_html: { id: :new_answer_body }
      = f.simple_fields_for :attachments, AnswerAttachment.new do |a|
        = a.input :file, as: :file
        = a.link_to_remove 'Remove this attachment'
      = f.link_to_add 'Add new attachment field', :attachments
      = f.button :submit

  .question-vote
    - unless @question.owner == current_user
      = render partial: 'votes/vote', locals: { object: @question, type: 'Question' }