%h1= @question.title
%p= @question.body

.answers
  = render 'answers/index'

.new_answer
  = simple_form_for(Answer.new, remote: true) do |f|
    = f.hidden_field :question_id, value: @question.id
    = f.input :body
    = f.button :submit